In [2]:
import pandas as pd

#nltk packages
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

import matplotlib.pyplot as plt
import seaborn as sns

#tf-idf packages
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

#sklearn packages
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [3]:
#this file is to preprocess specefic chartires from the dataset like nan &apos; and so on

df = pd.read_csv("Grooming_Dataset.csv")
df['text'] = df['text'].astype(str)

## Basic Exploratory Data Analysis

In [4]:
df.shape

(499792, 1)

In [5]:
df.head(5)

                                                text
0                                    noone will care
1                                 do u have hobbies?
2                                               asl?
3  I wonder why MS seem to not let any of their b...
4                                           and you?

In [7]:
df.duplicated().sum()

158129

In [8]:
df.drop_duplicates(['text'])

                                                     text
0                                         noone will care
1                                      do u have hobbies?
2                                                    asl?
3       I wonder why MS seem to not let any of their b...
4                                                and you?
...                                                   ...
499784                                        can do that
499787                             aight... give me a sec
499788                                              oxoxo
499789  Where by &quot;sometimes&quot; I mean &quot;us...
499790  Great, crashed my Windows kernel. Be back afte...

[341663 rows x 1 columns]

## Data Preprocessing

In [18]:
def preprocess(text):
    if pd.isnull(text) or text.strip() == "":
        return ""

    text = text.lower() # Convert text to lowercase
    text = re.sub(r'http\S+', '', text) # Remove URLs
    text = re.sub(r'www\.\S+', '', text) # Remove URLs
    text = re.sub(r'<.*?>', '', text) # Remove HTML tags
    text = text.replace('&quot', '')
    text = text.replace('nan', '')
    text = text.replace('&', '')
    text = text.replace(';', '')
    text = text.replace('&apos;', '')
    tokens = word_tokenize(text) # Tokenize the text
 
    text = ' '.join(tokens) # Join tokens back into a single string
    return text

In [19]:
cleaned_texts = [preprocess(row['text']) for _, row in df.iterrows()]
df['cleaned'] = cleaned_texts

df.head()

,text,cleaned
0,noone will care,noone will care
1,do u have hobbies?,do u have hobbies ?
2,asl?,asl ?
3,I wonder why MS seem to not let any of their b...,i wonder why ms seem to not let any of their b...
4,and you?,and you ?

In [23]:
df['cleaned'].to_csv('/Users/Ren/Desktop/grooming1.csv', index = False)