In [1]:
#packages 
import xml.etree.ElementTree as ET
import pandas as pd

In [2]:
tree = ET.parse('PAN12_Training.xml')
root = tree.getroot()

In [3]:
print(root.tag)

conversations

In [4]:
print(len(root))

66927

In [5]:
df = pd.read_xml('PAN12_Training.xml', xpath = '//message')

In [6]:
df

,line,author,time,text
0,1,97964e7a9e8eb9cf78f2e4d7b2ff34c7,03:20,Hola.
1,2,0158d0d6781fc4d493f243d4caa49747,03:20,hi.
2,3,0158d0d6781fc4d493f243d4caa49747,03:20,whats up?
3,4,97964e7a9e8eb9cf78f2e4d7b2ff34c7,03:20,not a ton.
4,5,97964e7a9e8eb9cf78f2e4d7b2ff34c7,03:20,you?
...,...,...,...,...
903602,101,74bfc043bd5ce9c17b37ffae6e0ba2fa,22:36,oh ok
903603,102,8cd850ea4215ee7c4b94b6bcc0bae593,22:36,i will look for you tomorrow
903604,103,74bfc043bd5ce9c17b37ffae6e0ba2fa,22:36,ok
903605,104,8cd850ea4215ee7c4b94b6bcc0bae593,22:36,bye lissa
903606,105,74bfc043bd5ce9c17b37ffae6e0ba2fa,22:37,bye jake

In [7]:
df.to_csv('Training_Chatlogs.csv', index = False)